<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="productDao" class="com.ywalakamar.hibernate.ProductDao">
        <constructor-arg ref="dataSource"></constructor-arg>
    </bean>

    <bean id="product" class="com.ywalakamar.hibernate.models.Product">
        <property name="name" value="Fish" />
        <property name="productDescription" value="Nile Perch" />
        <property name="price" value="800" />
        <property name="productDetail" ref="productDetail" />
    </bean>

    <bean id="dataSource" class="com.ywalakamar.hibernate.DataSource" />

    <bean id="productDetail" class="com.ywalakamar.hibernate.models.ProductDetail">
        <property name="partNumber" value="FIS37N" />
        <property name="weight" value="32" />
        <property name="origin" value="Uganda" />
        <property name="product" ref="product" />
        <property name="manufacturer" value="Great Lakes Nets" />
    </bean>

</beans>